.btn {
  background-color: $accent-color;
  color: $white-color;
  font-size: $font-size-s;
  font-weight: 500;
  padding-left: 18px;
  padding-right: 18px;
}

.btn:hover {
  background-color: rgba(237, 89, 43, 0.8);
  color: $white-color;
}

.btn-transperent {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
  font-size: $font-size-m;
  padding: 8px 18px 10px 20px;
}

.btn-transperent:hover {
  background-color: rgba(255, 255, 255, 0.1);
}