header {
  background-color: $white-color;
  border-bottom: 1px solid $color-lighten;
}

.navbar {
  background-color: $white-color;
  border: none;
  margin-bottom: 0;
  font-size: $font-size-l;
  font-family: $font-family-bold;
  font-weight: 700;
  .navbar-header {
    padding-left: 15px;
  }
  .navbar-brand {
    padding: 0;
  }
  .nav {
    float: right;
  }
  .navbar-nav{ 
    margin-right: -5px;
    .navbar-item {
      margin-right: 5px;
      .navbar-link {
        padding: 10px 24px 10px 14px;
        color: $primari-color;
        border: 1px dashed;
        border-color: transparent;
        border-radius: 20px;
        position: relative;
        &:before {
          width: 13px;
          height: 13px;
          content: "";
          display: none;
          background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='17.673px' height='16.874px' viewBox='0 0 17.673 16.874' enable-background='new 0 0 17.673 16.874' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath fill='red' d='M17.647,6.377c-0.059-0.178-0.211-0.305-0.396-0.334l-5.514-0.784l-2.48-4.987 C9.174,0.105,9.003,0,8.818,0l0,0C8.634,0,8.463,0.105,8.379,0.276L5.932,5.277l-5.515,0.82C0.232,6.126,0.08,6.253,0.022,6.431 c-0.059,0.178-0.007,0.374,0.127,0.501L4.15,10.81l-0.926,5.491c-0.032,0.185,0.044,0.37,0.196,0.479 c0.084,0.061,0.186,0.094,0.286,0.094c0.08,0,0.156-0.018,0.229-0.059l4.922-2.607l4.937,2.578 c0.072,0.037,0.148,0.055,0.225,0.055l0,0c0.269,0,0.49-0.221,0.49-0.488c0-0.041-0.004-0.076-0.015-0.113l-0.954-5.459 l3.976-3.899C17.658,6.75,17.705,6.554,17.647,6.377z M12.678,10.261c-0.116,0.113-0.167,0.276-0.138,0.436l0.83,4.764 l-4.287-2.238c-0.142-0.076-0.312-0.072-0.457,0l-4.272,2.263l0.801-4.77c0.025-0.159-0.024-0.319-0.142-0.431L1.546,6.917 L6.33,6.206c0.159-0.025,0.298-0.124,0.366-0.268l2.125-4.342l2.155,4.331c0.072,0.146,0.21,0.243,0.37,0.269l4.788,0.682 L12.678,10.261z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          background-size: cover;
          position: absolute;
          top: 15px;
          right: 10px;
        }
        &:hover,
        &:focus {
          color: $accent-color;
          border-color: $accent-color;
          &:before {
            display: table;
          }
        }
      }
      .menu-link{
        padding: 10px 24px 10px 14px;
        color: $primari-color;
      }
      &:last-child .navbar-link {
        padding: 10px 5px;
        border-radius: 50%;
        border-color: $color-lighten !important;
        font-weight: 300 !important;
        border: 1px solid;
        &:hover {
          border-color: $accent-color;
          &:before {
            display: none;
          }
        }
      }
    }
    .active {
      .navbar-link, .navbar-link:hover, .navbar-link:focus {
        color: $accent-color;
        border-color: $accent-color;
        background-color: transparent;
        &:before {
          display: table;
        }
      }
    }
    .btn-group {
      margin-right: 15px;
      .btn-primary {
        padding-left: 16px;
        padding-right: 3px;
        padding-top: 7px;
        padding-bottom: 8px;
        border-right: 1px solid;
        border-color: rgba(255,255,255, 0.3)
      }
      .dropdown-toggle {
        padding-left: 10px;
        padding-right: 12px;
      }
    }
    .dropdown-menu {
      border-color: transparent;
    }
  }
  .row {
    padding-top: 30px;
    padding-bottom: 18px;
  }
  .btn-primary {
    background-color: $primari-color;
    border-color: $primari-color;
    font-size: $font-size-l;
    font-family: $font-family-bold;
    font-weight: 700;
    &:hover {
      background-color: $bacground-color-dark;
      border-color: $bacground-color-dark;
    }
  }
}
.navbar-default .navbar-toggle {
  border-color: $primari-color;
  .icon-bar {
    background-color: $primari-color;
  }
  &:hover, &:focus {
    background-color: rgba(69, 130, 198, 0.3)
  }
}

@media (max-width: 1200px) {
  .navbar-toggle {
     display: block;
  }
  .navbar-header {
    width: 100%;
  }
  .navbar-nav{ 
    .navbar-item {
      margin-bottom: 5px;
      &:last-child .navbar-link {
       display: inline-block;
       margin: 5px;
      }
    }
  }
}

