$container-max-width:   1200px;
$container-padding:     0 10px;

$primari-color: #0659b3;
$global-tex-color: #393939;
$secondary-tex-color: #073b63;
$white-color: #fff;
$color-lighten: #d8dee5;

$bacground-color-light: #eceef8;
$bacground-color-dark: #0073b1;

$accent-color: #ed592b;


$font-family-light: 'HelveticaNeueCyr-Light', sans-serif;
$font-family-italic: 'HelveticaNeueCyr-Italic', sans-serif;
$font-family-bold: 'HelveticaNeueCyr-Bold', sans-serif;
$font-family-medium: 'HelveticaNeueCyr-Medium', sans-serif;
$font-family-roman: 'HelveticaNeueCyr-Roman', sans-serif;

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 15px;
$font-size-l: 18px;
$font-size-xl: 25px;
$font-size-xxl: 32px;

